{% extends "helpdesk/staff_base.html" %}{% load i18n %}
{% load static from staticfiles %}
{% load helpdesk_util_tags %}

{% block helpdesk_title %}{% trans "Helpdesk Dashboard" %}{% endblock %}

{% block extra_css %}
<link href="{% static 'helpdesk/css/chosen.min.css' %}" rel="stylesheet">
<link href="{% static 'helpdesk/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block breadcrumb_items %}
<li>Dashboard</li>
{% endblock %}

{% block content %}
<h2 class="page-title">Dashboard</h2>

<div class="row">
    <div class="col-md-12">
    {% include 'helpdesk/include/stats.html' %}
    </div>
</div>

{% if all_tickets_reported_by_current_user %}
{% trans "All Tickets submitted by you" as ticket_list_caption %}
{% include 'helpdesk/include/tickets.html' with ticket_list=all_tickets_reported_by_current_user ticket_list_empty_message="" %}
{% endif %}

{% trans "Open Tickets assigned to you (you are working on this ticket)" as ticket_list_caption %}
{% trans "You have no tickets assigned to you." as no_assigned_tickets %}
{% include 'helpdesk/include/tickets.html' with ticket_list=user_tickets ticket_list_empty_message=no_assigned_tickets %}

{% include 'helpdesk/include/unassigned.html' %}

{% if user_tickets_closed_resolved %}
{% trans "Closed & resolved Tickets you used to work on" as ticket_list_caption %}
{% include 'helpdesk/include/tickets.html' with ticket_list=user_tickets_closed_resolved ticket_list_empty_message="" %}
{% endif %}

{% include "helpdesk/partials/action_modal.html" with prefix_id='deleteTicket' message_class='text-danger' %}
{% include "helpdesk/partials/action_modal.html" with prefix_id='takeTicket' message_class='text-danger' %}

{% endblock content %}

{% block extra_js %}
<script src="{% static 'helpdesk/js/util.js' %}"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        bindTableRowModalAction('deleteTicketModal', 'button[name=delete]', 'Delete Ticket', 'Are you sure to delete? this will remove the ticket permanently!', function (recordId) {
            var baseAction = '{% url "helpdesk:ticket-delete" 0 %}';
            return baseAction.slice(0, -2) + recordId + '/';
        });
        bindTableRowModalAction('takeTicketModal', 'button[name=take]', 'Take Ticket', 'Are you sure to take this ticket?', function (recordId) {
            var baseAction = '{% url "helpdesk:ticket-take" 0 %}';
            return baseAction.slice(0, -2) + recordId + '/';
        });
    });
</script>

{% endblock extra_js %}
