{% extends "helpdesk/public_base.html" %}{% load i18n humanize %}
{% load static from staticfiles %}
{% load helpdesk_util_tags %}
{% block helpdesk_title %}{% trans "View a Ticket" %}{% endblock %}

{% block content %}
<h2 class="page-title">{{ ticket }} [{{ ticket.ticket_for_url }}]</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default public-ticket-view">
            <div class="panel-heading">
                <strong>{% trans "Ticket Summary" %}</strong>
            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr class='row_tablehead'><td colspan='2'><h3>{{ ticket.id }}. {{ ticket.title }} {{ ticket.status|ticket_status_label_class }}</h3>
                            <span class='ticket_toolbar'></span></td></tr>
                    <tr><th colspan='2'>{% blocktrans with ticket.queue as queue %}Queue: {{ queue }}{% endblocktrans %}</th></tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>{% trans "Submitted On" %}</th>
                        <td>{{ ticket.created|date:"r" }} ({{ ticket.created|naturaltime }})</td>
                    </tr>

                    <tr>
                        <th>{% trans "Submitter E-Mail" %}</th>
                        <td>{{ ticket.submitter_email }}</td>
                    </tr>

                    <tr>
                        <th>{% trans "Priority" %}</th>
                        <td>{{ ticket.priority|ticket_priority_label_class }}</td>
                    </tr>

                    {% for customfield in ticket.ticketcustomfieldvalue_set.all %}
                    <tr>
                        <th>{{ customfield.field.label }}</th>
                        <td>{{ customfield.value }}</td>
                    </tr>{% endfor %}

                    {% if tags_enabled %}
                    <tr>
                        <th>{% trans "Tags" %}</th>
                        <td>{{ ticket.tags }}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <th colspan='2'>{% trans "Description" %}</th>
                    </tr>
                    <tr>
                        <td colspan='2'>{{ ticket.description|force_escape|urlizetrunc:50|linebreaksbr }}</td>
                    </tr>

                    {% if ticket.resolution %}<tr>
                        <th colspan='2'>{% trans "Resolution" %}{% if ticket.get_status_display == "Resolved" %} <a href='{{ ticket.ticket_url }}&close'><button type="button" class="btn btn-primary btn-xs">{% trans "Accept and Close" %}</button></a>{% endif %}</th>
                    </tr>
                    <tr>
                        <td colspan='2'>{{ ticket.resolution|urlizetrunc:50|linebreaksbr }}</td>
                    </tr>{% endif %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% if ticket.followup_set.public_followups %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{% trans "Follow-Ups" %}</strong>
            </div>
            <div class="panel-body">

                {% load ticket_to_link %}
                {% for followup in ticket.followup_set.public_followups %}
                <div class='followup well'>
                <div class='title'>{{ followup.title }} <span class='byline text-info'>{% if followup.user %}by {{ followup.user }}{% endif %} <span title='{{ followup.date|date:"r" }}'>{{ followup.date|naturaltime }}</span></span></div>
                {{ followup.comment|default:''|force_escape|urlizetrunc:50|num_to_link|linebreaksbr }}
                {% if followup.ticketchange_set.all %}<div class='changes'><ul>
                {% for change in followup.ticketchange_set.all %}
                <li>{% blocktrans with change.field as field and change.old_value as old_value and change.new_value as new_value %}Changed {{ field }} from {{ old_value }} to {{ new_value }}.{% endblocktrans %}</li>
                {% endfor %}
                </ul></div>{% endif %}
                {% for attachment in followup.attachment_set.all %}{% if forloop.first %}<div class='attachments'><ul>{% endif %}
                <li><a href='{{ attachment.file.url }}'>{{ attachment.filename }}</a> ({{ attachment.mime_type }}, {{ attachment.size|filesizeformat }})</li>
                {% if forloop.last %}</ul></div>{% endif %}
                {% endfor %}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
