{% extends "helpdesk/ticket_money_track_add.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block helpdesk_title %}{% trans "Edit Ticket Money Track" %}{% endblock %}

{% block helpdesk_pagetitle %}
{% blocktrans with ticket=object.ticket %}<h3>Edit Money Track "{{object}}" of "{{ticket}}"</h3>{% endblocktrans %}
{% endblock %}

{% block helpdesk_formbuttons %}
<button type="submit" class="btn btn-primary" name="submit"><span class="fa fa-save"></span> Update Money</button>
<a class="btn btn-default" href="{% url 'helpdesk:view' object.ticket.pk %}"><span class="fa fa-close"></span> Cancel</a>
{% endblock %}
