{% extends "helpdesk/ticket_time_track_add.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block helpdesk_title %}{% trans "Edit Ticket Time Track" %}{% endblock %}

{% block breadcrumb_items %}
<li><a href="{% url 'helpdesk:ticket-list' %}">Ticket List</a></li>
<li><a href="{% url 'helpdesk:view' object.ticket.id %}">{{object.ticket}}</a></li>
<li>Edit Time Track</li>
{% endblock %}

{% block helpdesk_pagetitle %}
{% blocktrans with ticket=object.ticket %}<h2 class="page-title">Edit Time Track "{{object}}" of "{{ticket}}"</h2>{% endblocktrans %}
{% endblock %}

{% block helpdesk_formbuttons %}
<button type="submit" class="btn btn-primary" name="submit"><span class="fa fa-save"></span> Update Time</button>
<a class="btn btn-default" href="{% url 'helpdesk:view' object.ticket.pk %}"><span class="fa fa-close"></span> Cancel</a>
{% endblock %}
