{% extends "helpdesk/staff_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block helpdesk_title %}{% trans "Delete Ticket Time Track" %}{% endblock %}

{% block breadcrumb_items %}
<li><a href="{% url 'helpdesk:ticket-list' %}">Ticket List</a></li>
<li><a href="{% url 'helpdesk:view' object.ticket.id %}">{{object.ticket}}</a></li>
<li>Delete Time Track</li>
{% endblock %}

{% block content %}
{% blocktrans with ticket=object.ticket %}<h2 class="page-title">Delete Time Track "{{object}}" of "{{ticket}}"</h2>{% endblocktrans %}
<div class="row">
    <div class="col-md-12">
        <form id="group-from" class="custom-chosen-container form-horizontal" enctype="multipart/form-data" method="post" autocomplete="false">
          {% csrf_token %}
            <div class="">
                <p class="text-danger">{% blocktrans with ticket=object.ticket %}Are you sure you want to delete Time Track "{{object}}" of "{{ticket}}" ticket?{% endblocktrans %}</p>
            </div>
          <hr>
          <div class="form-group">
            <div class="col-md-9">
              {% block helpdesk_formbuttons %}
              <button type="submit" class="btn btn-danger" name="submit"><span class="fa fa-trash"></span> {% trans "Yes - Delete It!" %}</button>
              <a class="btn btn-default" href="{% url 'helpdesk:view' object.ticket.pk %}"><span class="fa fa-close"></span> Cancel</a>
              {% endblock %}
            </div>
          </div>

        </form>
    </div>
</div>
{% endblock %}
