{% extends "helpdesk/staff_base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Delete Ticket Attachment" %}{% endblock %}

{% block breadcrumb_items %}
<li><a href="{% url 'helpdesk:ticket-list' %}">Ticket List</a></li>
<li><a href="{{ attachment.followup.ticket.get_absolute_url }}">{{attachment.followup.ticket}}</a></li>
<li>{{attachment}}</li>
<li>Delete</li>
{% endblock %}

{% block content %}{% blocktrans %}
<h2 class="page-title">Delete Ticket Attachment</h2>

<p>Are you sure you wish to delete the attachment <i>{{ filename }}</i> from this ticket? The attachment data will be permanently deleted from the database, but the attachment itself will still exist on the server.</p>
{% endblocktrans %}

<p><a href="{{ attachment.followup.ticket.get_absolute_url }}" class="btn btn-primary btn-lg">{% trans "Don't Delete" %}</a></p>

<form method="post">
    <button class="btn btn-danger" type='submit'>{% trans "Yes, I Understand - Delete" %}&nbsp;{{ filename }}</button>
{% csrf_token %}</form>
{% endblock %}
