{% extends "helpdesk/staff_base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Delete Ticket CC" %}{% endblock %}

{% block breadcrumb_items %}
<li><a href="{% url 'helpdesk:ticket-list' %}">Ticket List</a></li>
<li><a href="{{ cc.ticket.get_absolute_url }}">{{cc.ticket}}</a></li>
<li><a href="{% url 'helpdesk:ticket_cc' cc.ticket_id %}">Ticket CC List</a></li>
<li>Delete Ticket CC</li>
{% endblock %}

{% block content %}{% blocktrans with cc.email_address as email_address %}
<h2 class="page-title">Delete Ticket CC</h2>

<p>Are you sure you wish to delete this email address (<em>{{ email_address }}</em>) from the CC list for this ticket? They will stop receiving updates.</p>
{% endblocktrans %}


<p><a href="{% url 'helpdesk:ticket_cc' cc.ticket_id %}"><button class="btn btn-primary btn-lg">{% trans "Don't Delete" %}</button></a></p>

<form method='post' action='./'>
    <button class="btn btn-danger" type='submit'>{% trans "Yes I Understand - Delete" %}</button>
{% csrf_token %}</form>

{% endblock %}
