{% extends "helpdesk/staff_base.html" %}
{% load i18n humanize %}
{% load static from staticfiles %}
{% block helpdesk_title %}{% trans "Saved Query List" %}{% endblock %}
{% load helpdesk_util_tags %}

{% block breadcrumb_items %}
<li>Saved Query List</li>
{% endblock %}

{% block content %}
<h2 class="page-title">Saved Query Management</h2>

<div class="panel panel-default" id="tickets-list">
<table class="table table-striped table-hover table-advance sortable">
    <tr>
        <th>Title</th>
        <th>Shared By</th>
        <th class="saved-query-list-table-action-col">Actions</th>
    </tr>
    {% for q in saved_queries %}
    <tr data-id="{{ q.id }}">
        <td>
            {{q.title}}
            {% if q.pk == user.usersettings_helpdesk.settings.default_ticket_saved_query %}<span class="label label-warning"><span class="fa fa-star"></span> DEFAULT</span>{% endif %}
        </td>
        <td>
        {% if q.shared %}
            {% if user.pk == q.user_id %}
            <span class="label label-primary">
                {{ q.user.get_username }} (You)
            </span>
            {% else %}
            <span class="label label-default">
                {{ q.user.get_username }}
            </span>
            {% endif %}
        {% else %}
            <span class="text-muted">Not Shared</span>
        {% endif %}</td>
        <td class="saved-search-actions">
            {% if q.shared %}
            <button type="button" name="unshare" class="btn btn-sm btn-warning" href="#" {% if not perms.helpdesk.saved_search_super_access and q.user_id != user.pk %}title="No Permission" disabled {% else %} title="Share with other users"{% endif %}><span class="fa fa-share-alt"></span><span class="hidden-xs"> Un-share</span></button>
            {% else %}
            <button type="button" name="share" class="btn btn-sm btn-primary" href="#" {% if not perms.helpdesk.saved_search_super_access and q.user_id != user.pk %}title="No Permission" disabled {% else %} title="Un-share with other users"{% endif %}><span class="fa fa-share-alt"></span><span class="hidden-xs"> Share</span></button>
            {% endif %}
            {% if q.pk == user.usersettings_helpdesk.settings.default_ticket_saved_query %}
            <button type="button" name="remove_default" class="btn btn-sm btn-warning" href="#"><span class="fa fa-star-o"></span><span class="hidden-xs"> Remove Default</span></button>
            {% else %}
            <button type="button" name="set_default" class="btn btn-sm btn-success" href="#"><span class="fa fa-star"></span><span class="hidden-xs"> Set as Default</span></button>
            {% endif %}
            <button type="button" name="delete" class="btn btn-sm btn-danger" href="#" {% if not perms.helpdesk.saved_search_super_access and q.user_id != user.id %}title="No Permission" disabled{% endif %} title="Delete Ticket"><span class="fa fa-trash"></span><span class="hidden-xs"> Delete</span></button>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td class="text-center text-muted" colspan="3"><em>[NO RECORD!]</em></td>
    </tr>
    {% endfor %}
</table>
</div>
{% include "helpdesk/partials/action_modal.html" with prefix_id='delete' message_class='text-danger' %}
{% include "helpdesk/partials/action_modal.html" with prefix_id='setDefault' message_class='text-info' %}
{% include "helpdesk/partials/action_modal.html" with prefix_id='switchShare' message_class='text-info' %}

{% endblock content %}

{% block extra_js %}
<script src="{% static 'helpdesk/js/util.js' %}"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
    bindTableRowModalAction('deleteModal', 'button[name=delete]', 'Delete Query', 'Are you sure to delete?', function (recordId) {
        var baseAction = '{% url "helpdesk:saved_search-delete" 0 %}';
        return baseAction.slice(0, -2) + recordId + '/';
    });
    bindTableRowModalAction('setDefaultModal', 'button[name=set_default]', 'Set as Default', 'Are you sure to set this as default?', function (recordId) {
        var baseAction = '{% url "helpdesk:saved_search-set-default" 0 %}';
        return baseAction.slice(0, -2) + recordId + '/';
    });
    bindTableRowModalAction('setDefaultModal', 'button[name=remove_default]', 'Remove from Default', 'Are you sure to remove this from default?', '{% url "helpdesk:saved_search-set-default" 0 %}');
    bindTableRowModalAction('switchShareModal', 'button[name=share]', 'Share with other users', 'Are you sure to share this query with other users?', function (recordId) {
        var baseAction = '{% url "helpdesk:saved_search-switch-shared" 0 %}';
        return baseAction.slice(0, -2) + recordId + '/';
    });
    bindTableRowModalAction('switchShareModal', 'button[name=unshare]', 'Un-share with other users', 'Are you sure to un-share this query with other users?', function (recordId) {
        var baseAction = '{% url "helpdesk:saved_search-switch-shared" 0 %}';
        return baseAction.slice(0, -2) + recordId + '/';
    });
});
</script>

{% endblock extra_js %}
