table.ticket-stats caption {
    color: #fbff00;
    font-style: italic;
}

table.ticket-stats tbody th, table.ticket-stats tbody tr {
    padding-left: 20px
}

#ticket-description {
    background-color: #FCF8E3;
}

.followup.well {
    background-color: #f4f5ff;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 25px;
        margin-left: -2px;
        top: 23px;
        width: 35px;
        height: 35px;
        font-size: 1.2em;
        line-height: 35px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

}

#time-spent-details hr,
#money-spent-details hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

#time-spent-details p,
#money-spent-details p {
    margin-left: 15px !important;
}

#ticketTable_filter {
    float: right;
}

#ticketTable_length {
    float: right;
    margin-left: 5px;
}

.filters {
  margin-bottom: 5px;
}

#filterForm .chosen-container-single .chosen-single,
#filterForm .chosen-container-multi .chosen-choices,
#reportSavedQueryForm .chosen-container-single .chosen-single,
#assignTicketForm .chosen-container-single .chosen-single {
  height: 32px !important;
  margin-top: 1px;
  margin-bottom: 1px;
}

#filterForm .chosen-container-single .chosen-single,
#filterForm .chosen-container-single .chosen-single div,
#assignTicketForm .chosen-container-single .chosen-single,
#assignTicketForm .chosen-container-single .chosen-single div,
#reportSavedQueryForm .chosen-container-single .chosen-single,
#reportSavedQueryForm .chosen-container-single .chosen-single div{
    padding-top: 4px;
}

#reportSavedQueryForm .chosen-single .search-choice-close,
#assignTicketForm .chosen-single .search-choice-close,
#filterForm .chosen-single .search-choice-close {
    margin-top: 4px;
}

#filterForm div.form-group {
    padding-left: 0 !important;
}

#filterForm .form-control {
    width: 100% !important;
}

#tickets-filters input {
    width: 100%;
    height: 32px !important;
    margin-bottom: 1px;
    margin-top: 1px;
}

#tickets-list .collapse-link {
    text-decoration: none;

}

#tickets-list .collapse-link:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f107";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    margin-left: 2px;
}
#tickets-list .collapse-link.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f105";    /* adjust as needed, taken from bootstrap.css */
}
.me-assigned-to {
    font-weight: bold;
    color: black;
}

.ticket-list-table-action-col {
    width: 105px;
}

.current-saved-query-label {
    font-size: 14px;
}

.saved-query-list-table-action-col {
    width: 310px;
}

.saved-search-actions button[name=share],
.saved-search-actions button[name=unshare] {
    width: 85px;
}

.saved-search-actions button[name=set_default],
.saved-search-actions button[name=remove_default] {
    width: 123px;
}

.saved-query-dropdown>.active>a,
.saved-query-dropdown>.active>a:focus,
.saved-query-dropdown>.active>a:hover {
    background-color: #acb3b9 !important;
}

.not-assigned-item {
    font-weight: bold;
}

.ticket-list-title {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#id_saved_query {
    width: 150px;
}


@media (max-width: 767px) {
    .ticket-timeline-body {
        padding-left: 0;
    }
    .saved-search-actions button[name=share],
    .saved-search-actions button[name=unshare] {
        width: inherit !important;
    }

    .saved-search-actions button[name=set_default],
    .saved-search-actions button[name=remove_default] {
        width: inherit !important;
    }

    .saved-query-list-table-action-col {
        width: 130px !important;
    }

    #filterForm select, #filterForm input {
        height: 30px !important;
    }
    #tickets-list .panel-body {
        padding-right: 0px;
        padding-top: 5px;
    }

}
